.container{
    width:100%;
    height: 12vh;
    background-color: #24303E;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.announcementWrapper{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.announcement{
    color: #CBD0D6;
    padding: 0 10px;
    flex-shrink: 1;
}
.announcement span{
    color: #45DABD;
    padding-bottom: 2px;
    padding: 0 5px;
    border-bottom: 2px solid #45DABD;
    /* line-height: 36px; */
}
.userProfile{
    display: flex;
    align-items: center;
}
.userName{
    color: #CBD0D6;
    padding: 5px 10px;
}


